/* General setup */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family:'libre_baskervilleregular'; 
  font-size: 10px;
  line-height: 18px;
  letter-spacing:0.5px;
  word-spacing: 2px; 
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'latoregular';
  src: url(./Fonts/lato-regular-webfont.woff2) format('woff2'),
       url(./Fonts/lato-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'libre_baskervilleregular';
  src: url(./Fonts/librebaskerville-regular-webfont.woff2) format('woff2'),
       url(./Fonts/librebaskerville-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
h1,h2{
  font-family: 'latoregular', sans-serif;
  letter-spacing:3px;
}
h1{
  text-align: center;
  font-size: 2.5rem;
}
h2{
  font-size: 1.5rem;
}
section p{
  text-indent: 20px;
}
a{
  text-decoration: underline;
  color: rgba(0, 0, 255, 0.897);
  outline: none;
}
a:hover,a:focus{
  color: rgba(170, 149, 102, 0.584);
  text-decoration: none;
}
a:visited{
  color: rgb(165, 42, 42);
}
a:active{
 color: rgb(255, 0, 0);
 background-color: rgb(242, 255, 0);
 border-radius: 0.5px;
}
section p a::after {
content:"";
background: url('./external-link-52.png');
background-size: 10px 10px; 
width: 10px;
height: 10px;
display: inline-block;
margin-left: 5px;
}
li{
  line-height: 18px;
  letter-spacing:0.5px;
  word-spacing: 2px;
}
section ul , aside ul {
  list-style: square;
}

nav ul li {
  font-size: 1rem;
  border: 1px solid rgb(170, 102, 102);
  list-style: none;
  padding: 13px 25px;
  margin: 0.8rem;
  text-align: center;
}
nav ul a{
  text-decoration: none;
}
nav ul li a:hover, nav ul li a:focus{
  color:olive;
}
nav a:visited{
  color:goldenrod;
}
nav ul li a:active{
  color: crimson;
  background-color: khaki;
  border-radius: 0.5px;
}