.vscode/
"C:\INFT 1206\INFT -1206-S2024\Class_Notes\HTML\HTML_Intro\index.html"
"C:\INFT 1206\INFT -1206-S2024\Assignments\Assignment_1\part2\part2.html"
Assignments/Assignment_2/part1/index (3).html
*.html
