html {
  font-family: sans-serif;
}
/* Your CSS below here */
div{
  width: 300px;
  height: 225px;
  align-content: center;
  margin: auto;
  text-align: center;
  font-size: 1.125rem;
  background-color:#ec1b1b;
  color: rgb(255, 255, 255);
  text-shadow:1px 1px 2px black;
  border-radius: 5%;
  border: 1px solid #a01010;
  background: linear-gradient(bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.753) ,inset 4px 4px 5px rgba(255, 255, 255, 0.5),inset -3.5px -3.5px 5px rgba(0, 0, 0, 0.5);
}